<p id="notice"><%= notice %></p>

<h1>Problem Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Due Date</th>
      <th>Problem</th>
      <th>Iterations</th>
      <th>Correctness Grade</th>
      <th>Code Review Grade</th>
      <th>Total Grade</th>
      <th>Instructor Feedback</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td colspan="1"></td>
        <td><%= problem.title %></td>
        <td colspan="5"></td>
        <td><%= link_to 'View Code Review', controller: 'problem_submissions', action: 'code_review', problem_id: problem.id %></td>
        <td><%= link_to 'Submit Code', new_problem_submission_path(:problem_id => problem.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
