<div id="log_in_header"></div>
<div class="log_in">
  <p id="notice"><%= notice %></p>
</div>

<div class="log_in"><img src="https://s3-us-west-2.amazonaws.com/teals/java-ta/common/JataTa-5.PNG"></div>

<div class="log_in"><%= link_to "Log In", '/login' %></div>