/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.verbatim
{
  font-family: Consolas,"courier new";
  font-size: 13px;
}

.menu_bar
{
  background-color: #4A7CC2;
  display: block;

  color: white;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.menu_bar a:link
{
  color: white;
  text-decoration: none;
}

.menu_bar a:visited
{
  color: white;
  text-decoration: none;
}

.menu_button
{
  height: 40px;
  width: 80px;
  padding-top:15px;
  padding-right:10px;
  padding-left:10px;
}

.menu_regular_button
{
  float: left;
}

.menu_right_button
{
  width: 200px;
  text-align: right;
  float: right;
}

.menu_email
{
  font-size: 8pt;
}

.main_body
{
  display: block;
  position: absolute;
  width: 100%;
  
  padding: 10px;
  
  top: 60px;
  left: 0;
}
