// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  margin-bottom: 10px;
  max-width: 350px;

  padding-left: 10px;

  p {
    margin: 0px;
  }

  textarea {
    width: 300px;
  }
}

.comment_box {
  color: #2D60A6;

  display: inline-block;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.comment_textarea {
  display: none;
}

.comment_toggle {
  cursor: pointer;
  color: #5B779C;
  font-size: x-small;
  text-decoration: underline;
}

.this_user_comment {
  background-color: #A1C6F8;
  margin-left: 50px;
}

.other_user_comment {
  background-color: #97B9E9;
}

.who_commented {
  color: #7DA1D2;
  font-size: small;
}
