// Place all the styles related to the ProblemSubmissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iteration_name
{
  width: 120px;
  float: left;
  padding: 5px;
}

.iteration_selector
{
  padding: 5px;
}

.iteration_section
{
  width: 100%;
  margin: 5px;
  padding: 5px;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;  // Sets the height of this object as big as its childern
}

.left_iteration
{
  float: left;
  width: 50%;
}

.right_iteration
{
  float: right;
  width: 50%;
}


// Diffy
.diff {

////////////////////// Table format//////////////////////////

  display: table;
  width: 100%;

  .diff_line {
    display: table-row;
  }
  
  .source_code, .comment, .line_number {
    display: table-cell;
    height: 100%;
  }
  
  .line_number {
    text-align: right;
    padding-right: 3px;
    border-right: 1px #aaa solid;
    font-family: Consolas, courier;
  }
  
  .source_code {
    width: 60%;
  }

////////////////////// Diff Colors //////////////////////////

  del, ins {
    display: block;
    text-decoration: none;
  }
  
  del, ins, span {
    white-space: pre-wrap;
    font-family: Consolas, courier;
  }

  .ins {
    background: #dfd;
    color: #080;
  }

  .del {
    background: #fee;
    color: #b00;
  }

  del strong {
    font-weight: 400;
    background: #fcc;
  }

  ins strong {
    font-weight: 400;
    background: #9f9;
  }

  .line_number {
    background-color: #ECECEC;
    color: #aaa;
    width: 30px;
  }
}

.diff .diff-block-info {
  background: none repeat scroll 0 0 gray;
}




