// Place all the styles related to the ProblemSubmissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iteration_name
{
  width: 120px;
  float: left;
  padding: 5px;
}

.iteration_selector
{
  padding: 5px;
}

.iteration_section
{
   width: 100%;
   margin: 5px;
   padding: 5px;
   top: 0;
   left: 0;
   height: 100%;
   overflow: hidden;  // Sets the height of this object as big as its childern
}

.left_iteration
{
  float: left;
  width: 50%;
}

.right_iteration
{
  float: right;
  width: 50%;
}

// Diffy
.diff {
  overflow:auto;
}

.diff ul {
  background: #fff;
  overflow: auto;
  font-size: 13px;
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.diff del,.diff ins {
  display: block;
  text-decoration: none;
}

.diff li {
  display: table-row;
  height: 1em;
  margin: 0;
  padding: 0;
}

.diff li.ins {
  background: #dfd;
  color: #080;
}

.diff li.del {
  background: #fee;
  color: #b00;
}

.diff li:hover {
  background: #ffc;
}

.diff del,.diff ins,.diff span {
  white-space: pre-wrap;
  font-family: courier;
}

.diff del strong {
  font-weight: 400;
  background: #fcc;
}

.diff ins strong {
  font-weight: 400;
  background: #9f9;
}

.diff li.diff-comment {
  display: none;
}

.diff li.diff-block-info {
  background: none repeat scroll 0 0 gray;
}
