// Place all the styles related to the TestCases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test_results_table
{
  width: 100%;

  th
  {
    text-align: left;
  }
}

.test_case_area {
  width: 800px;
  font-family: Consolas,"courier new";
  font-size: 13px;
}
