<div class='java_ta_container'>

  <h1>Reading grades from Practice It!</h1>
  <h2>TEALS - Computer Science AP</h2>

  <div class='java_ta_messages'>

    <% @error_messages.each do |message| %>
      <div class='java_ta_error'>
        <p>Error: <%= message %></p>
      </div>
    <% end %>

    <% @log_messages.each do |message| %>
      <div class='java_ta_message'>
        <p><%= message %></p>
      </div>
    <% end %>

  </div>

</div>
