<h1>Evaluator compile</h1>

<p>compile_output: <%= @compile_output %></p>
<p>compile_output_error: <%= @compile_output_error %></p>

<p>output: <%= @output %></p>
<p>output_error: <%= @output_error %></p>
