<h1>Evaluator compile</h1>

<h2>Compile output</h2>
<%= simple_format(@compile_output) %>

<h2>Compile error</h2>
<%= simple_format(@compile_output_error) %>

<h2>Program output</h2>
<%= simple_format(@output) %>

<h2>Program errors</h2>
<%= simple_format(@output_error) %>
