<div class="menu_button menu_regular_button">
  <%= link_to('Problems', '/problems') %>
</div>
<div class="menu_button menu_regular_button">
  <%= link_to('Users', '/users') %>
</div>
<div class="menu_button menu_regular_button">
  <%= link_to('My Submissions', '/problem_submissions') %>
</div>
